{% extends "base.html" %}

{% block content %}
    <form novalidate class='my-ajax-form' method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'>
        {% csrf_token %}
        {{form.as_p|safe}}
        <button type='submit'>Submit</button>
    </form>
{% endblock content %}


{% block script %}


<script>
    function apply_form_field_error(fieldname, error) {
        $.each(error,function (key, value) {
            var input = $('#id_'+fieldname);
            input.after("<small style='display:block;' class='error_"+fieldname+"'>"+value+"</small>");
        });

    }

    $(document).ready(function () {
        $('.my-ajax-form').submit(function (e) {
            e.preventDefault();



            $('.my-ajax-form').find('input').nextAll('small').remove();


            $.ajax({
                type: "post",
                url: "{% url 'join' %}",
                data: $(this).serialize(),
                dataType: 'json',
                success: function (response) {
                    console.log(response)
                },
                error: function (response) {
                    var errors = response.responseJSON;

                    $.each(errors, function (index, value) {

                        if (index === "__all__") {
                            console.log(value[0], "error");
                        }
                        else {
                            apply_form_field_error(index, value);
                        }

                    });
                }
            });
        });

    });
</script>



{% endblock %}


